.italics {
  font-style: italic;
}

p {
 font-family:  "monaco", monospace;
 color: DarkBlue;
}

h1 {
 font-family: "Courier New", monospace;
 color: DarkBlue;
}

h2 {
 font-family: "Courier New", monospace;
 color: DarkBlue;
}

h3 {
 font-family: "Courier New", monospace;
 color: DarkBlue;
}

div{
 outline-color: MediumSeaGreen;
  outline-style: solid;
}
