.italics {
  font-style: italic;
}

p {
 font-family:  "monaco", monospace;
 color: rgb(32, 8, 102);
}

h1 {
 font-family: "Courier New", monospace;
 color: rgb(32, 8, 102);
}

h2 {
 font-family: "Courier New", monospace;
 color: rgb(32, 8, 102);
}

h3 {
 font-family: "Courier New", monospace;
 color: rgb(32, 8, 102);
}

div{
 outline-color: rgb(13, 64, 33);
  outline-style: solid;
}
