* {
  box-sizing: border-box;
}

.nav-bar {
  background-color: rgb(28, 23, 94);
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: rgb(37, 153, 93);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: rgb(37, 153, 93);
  color: rgb(28, 23, 94);
}

.nav-bar a.active {
  background-color: rgb(171, 64, 22);
  color: rgb(28, 23, 94);
}

body {
 background-color: rgb(8, 5, 46);
  padding: 20px;
}

.header {
  padding: 30px;
  background: rgb(7, 48, 23);
  outline-color: rgb(13, 64, 33);
  outline-style: solid;
  outline-width: 6.5px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
  
 .card {
  background-color: rgb(28, 23, 94);
  padding: 20px;
  margin-top: 20px;
  outline-color: rgb(13, 64, 33);
  outline-style: solid;
  outline-width: 6.5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}
   
p {
 font-family:  "monaco", monospace;
 color: rgb(137, 149, 245);
}

h1 {
 font-family: "Courier New", monospace;
 color: rgb(144, 7, 171);
}

h2 {
 font-family: "Courier New", monospace;
 color: rgb(144, 7, 171);
}

h3 {
 font-family: "Courier New", monospace;
 color: rgb(144, 7, 171);
}

h4 {
  font-family: "Courier New", monospace;
  color: rgb(144, 7, 171);
}

h5 {
  font-family: "Courier New", monospace;
  color: rgb(144, 7, 171);
}
a {
  color: rgb(37, 153, 93);
}
